.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  width: 100%;
  background-color: #EFEFEF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Bebas Neue";
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container {
  width: 90%;
}
.all_news {
  width: 30%;
  display: inline-block;
  float: left;
}
.all_news3 {
  width: 70%;
  display: inline-block;
  float: left;
}
.all_news3 h1 {
  font-family: "Bebas Neue";
  font-size: 2.5em;

}
.all_news3 div {
  font-family: "Brandon Grotesque";
  font-size: 1.2em;
}
.all_news3 content {
  width: 100%;
}
.all_news3 content object {
  width: 100%;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing h1 {
  font-family: "Bebas Neue";
  font-size: 2.5em;

}
.marketing ul {
  list-style-type: none;
  margin-left: -40px;
  margin-right: 30px;
}
.marketing ul li div h2 {
  font-family: "Brandon Grotesque";
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
}
.marketing ul li div h3 {
  font-family: "Brandon Grotesque";
  font-size: 0.9em;
  font-weight: 100;
  margin-top: 0px;
  word-break: break-all;
  line-height: 1.2em;
}
.marketing ul li a {
  color: inherit;
}
.marketing ul li a:hover {
  text-decoration: none;
}
.marketing ul li div {
  margin-bottom: 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
